body {
  color: white;
  background-color: #0c0c0c; }

.lockScroll {
  overflow: hidden; }

.list-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3c3f41; }
  .list-header .title {
    margin: 4px;
    font-size: 22px; }

.list-content {
  padding-top: 44px; }

.list-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: #3c3f41; }

.copy-right {
  color: black; }

.instagram-image {
  margin: 0 auto;
  width: 612px;
  height: 612px; }

.instagram-caption {
  margin: 0 auto;
  vertical-align: middle;
  width: 612px;
  height: 32px;
  font-size: 20px; }
