.lockScroll {
  overflow: hidden; }

.list-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; }
  .list-header .title {
    margin: 4px;
    font-size: 22px; }

.list-content {
  padding-top: 44px; }

.list-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: white; }

.copy-right {
  color: black; }

.instagram-image {
  margin: 0 auto;
  width: 612px;
  height: 612px; }
