<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Instagram Photos near you</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/main.css"/>

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <meta name="description" content="Instagram photos near you.">
  <link rel="author" href="https://plus.google.com/109947886575868463460"/>

  <!--social meta tags-->
  <meta property="og:title" content="Instagram photos near you.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
  <meta property="og:see_also" content="http://hyzhak.github.io">
  <meta property="og:description" content="Instagram photos near you.">

  <meta property="twitter:card" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
  <meta property="twitter:title" content="Instagram photos near you.">
  <meta property="twitter:description" content="Instagram photos near you.">
  <meta property="twitter:image" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
</head>

<body ng-controller="MainCtrl" ng-class="isTrue(lockScroll, 'lockScroll', '')">
    <!--<header class="list-header">
        <ul class="nav nav-pills">
            <li class="title">Photos</li>
            <li ng-class="isActivate('local')"><a ui-sref="local">Near you</a></li>
            <li ><a ng-click="showAbout()">About...</a></li>
        </ul>
    </header>-->

    <div ui-view class="list-content">
    </div>

    <footer class="inline list-footer" ng-controller="FooterController">
      <ul class="nav nav-pills">
        <li class="title">
          Photos
        </li>
        <li ng-class="{ active: $state.includes('at-with-location')}"
            ng-if="!$state.includes('places')">
          <a ui-sref="at">
            <i class="fa fa-film"></i>
            Near you
          </a>
        </li>
        <li ng-if="$state.includes('places')">
          <a ui-sref="at-with-location({lat: location.lat, lng: location.lng, distance: location.distance, zoom: location.zoom})">
            <i class="fa fa-film"></i>
            Photos
          </a>
        </li>
        <li class="active"
            ng-if="$state.includes('at-with-venue')"
            >
          <a>
            {{location.place}}
          </a>
        </li>
        <li ng-class="{ active: $state.includes('places')}">
          <a ui-sref="places({lat: location.lat, lng: location.lng, distance: location.distance, zoom: location.zoom, place: location.place})">
            <i class="fa fa-globe"></i>
            Map
          </a>
        </li>
        <li ng-class="{ active: $state.includes('about')}">
          <a href ng-click="openAbout()">
            <i class="fa fa-question"></i>
            About...
          </a>
        </li>
      </ul>
    </footer>


    <script src="js/nearyou.js"></script>
</body>
</html>
