<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Instagram Photos near you</title>

  <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />

  <meta name="description" content="Instagram photos near you.">
  <link rel="author" href="https://plus.google.com/109947886575868463460"/>

  <!--social meta tags-->
  <meta property="og:title" content="Instagram photos near you.">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
  <meta property="og:see_also" content="http://hyzhak.github.io">
  <meta property="og:description" content="Instagram photos near you.">

  <meta property="twitter:card" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
  <meta property="twitter:title" content="Instagram photos near you.">
  <meta property="twitter:description" content="Instagram photos near you.">
  <meta property="twitter:image" content="https://lh4.googleusercontent.com/-f4GuIrtdoBo/UolXnm48s4I/AAAAAAAAn1o/oy5dorbMsw0/s0/2013-11-18_00-56-04.png">
</head>

<body ng-controller="MainCtrl" ng-class="isTrue(lockScroll, 'lockScroll', '')">
    <header class="list-header">
        <ul class="nav nav-pills">
            <li class="title">Photos</li>
            <li ng-class="isActivate('local')"><a ui-sref="local">Near you</a></li>
            <li ><a ng-click="showAbout()">About...</a></li>
        </ul>
    </header>

    <div ui-view class="list-content">
    </div>

    <footer class="inline list-footer">
        <div class="copy-right">
            <a target="_blank" href="http://hyzhak.github.com/"><span class="label label-info">(C) Hyzhak & Burenka <span ng-bind="year"></span> </span></a>
            <a ng-click="showAbout()">About...</a>
        </div>
    </footer>

    <div id="aboutWindow" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Photos near U.</h3>
        </div>
        <div class="modal-body">
            <p>It's just application of mashup of hip from instagram and high tech from <a target="_blank" href="http://angularjs.org">angular.js.</a></p>
            <p>Show unlimited series of <a ng-click="hideAbout()" href="#/bestof"><span class="badge">best of</span></a> and images <a ng-click="hideAbout()" href="#/local"><span class="badge">near you</span></a>.</p>
        </div>
        <div class="modal-footer">
            <a ng-click="hideAbout()" class="btn">Close</a>
            <a target="_blank" href="http://hyzhak.github.com/" class="btn btn-primary">Main Page</a>
        </div>
    </div>

    <script src="js/nearyou.js"></script>
    <!--<script data-main="js/nearyou.js" src="js/require.js"></script>-->
</body>
</html>
