body
  color: #ffffff
  background:
    color: #0c0c0c

#map
  height: 200px
  color: black

.lockScroll
  overflow: hidden

.list-header
  position: fixed
  left: 0
  right: 0
  top: 0
  width: 100%
  z-index: 1000
  background:
    color: #3c3f41

//.list-content
//  padding-top: 44px

.list-footer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  width: 100%
  z-index: 1000
  background-color: #3c3f41
  .title
    margin: 4px
    font:
      size: 22px

.copy-right
  color: black

$insta-images-size: 612

//TODO : add media queries
.instagram-image
  margin: 0 auto
  width: $insta-images-size + px
  height: $insta-images-size + px

.instagram-caption
  margin: 0 auto
  vertical-align: middle
  width: $insta-images-size + px
  height: 32px
  font:
    size: 20px