<div class="instagram-images-list">
    <div ng-repeat="image in instagramResult.data" class="instagram-image">
        <a target="_blank" href="{{image.link}}">
            <img ng-src="{{image.images.standard_resolution.url}}" width="{{image.images.standard_resolution.width}}" height="{{image.images.standard_resolution.height}}" alt="{{image.caption.text}}" class="img-polaroid"/>
        </a>
    </div>
    <!--
    <footer>
        <button ng-click="requestMore()">more...</button>
    </footer>
    -->
</div>