<div class="instagram-images-list">
    <div ng-repeat="image in instagramResult.data">
      <div class="instagram-image">
        <a target="_blank" href="{{image.link}}">
            <img ng-src="{{image.images.standard_resolution.url}}" width="612" height="612" alt="{{image.caption.text}}" class="img-polaroid"/>
        </a>
      </div>
      <div class="instagram-caption">
        <span>{{image.likes.count}} Likes</span>
        <span>by {{image.user.username}}</span>
        <span>{{image.location.name}}</span>
      </div>
    </div>
</div>