<div class="stick-to-top">
  <leaflet id="map" markers="markers" center="center" events="events" custom-controls="myCustomControls">
  </leaflet>
  <form id="find-place" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="find place">
    </div>
    <button type="submit" class="btn btn-default">Find</button>
  </form>
</div>
<div class="under-map"></div>
<ul id="places-list">
  <li ng-repeat="place in markers" class="list-unstyled" ng-mouseover="focusOn(place)">
    <a ui-sref="at-with-venue({lat: place.lat, lng: place.lng, distance: distance, place: place.title})">
    {{place.title}}
    </a>
  </li>
</ul>