<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Instagram Near you</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-responsive.css"/>
</head>
<body ng-controller="MainCtrl" ng-class="isTrue(lockScroll, 'lockScroll', '')">
    <header class="list-header">
        <ul class="nav nav-pills">
            <li class="title">Photos</li>
            <li ng-class="isActivate('local')"><a href="#/local">Near you</a></li>
            <li ><a ng-click="showAbout()">About...</a></li>
        </ul>
    </header>

    <div ng-view class="list-content">
    </div>

    <footer class="inline list-footer">
        <div class="copy-right">
            <a target="_blank" href="http://hyzhak.github.com/"><span class="label label-info">(C) Hyzhak & Burenka <span ng-bind="year"></span> </span></a>
            <a ng-click="showAbout()">About...</a>
        </div>
    </footer>

    <div id="aboutWindow" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Insta/gular.js</h3>
        </div>
        <div class="modal-body">
            <p>It's just application of mashup of hip from instagram and high tech from <a target="_blank" href="http://angularjs.org">angular.js.</a></p>
            <p>Show unlimited series of <a ng-click="hideAbout()" href="#/bestof"><span class="badge">best of</span></a> and images <a ng-click="hideAbout()" href="#/local"><span class="badge">near you</span></a>.</p>
        </div>
        <div class="modal-footer">
            <a ng-click="hideAbout()" class="btn">Close</a>
            <a target="_blank" href="http://hyzhak.github.com/" class="btn btn-primary">Main Page</a>
        </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','googleAnalytics');

//        var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
//        _gaq.push(['_require', 'inpage_linkid', pluginUrl]);

        googleAnalytics('create', 'UA-38043860-1', {
          'siteSpeedSampleRate': 100
        });
        googleAnalytics('send', 'pageview');

        window.onerror = function(msg, url, line) {
          var preventErrorAlert = true;
          googleAnalytics('send', 'event', 'JS Error', msg, navigator.userAgent + ' -> ' + url + " : " + line, line);
          console.log('send event JS Error ' + msg + ' ' + navigator.userAgent + ' -> ' + url + " : " + line);
          return preventErrorAlert;
        };
    </script>
</body>
</html>
